html,
body {
  padding: 0;
  margin: 20;
  font-family: GerontoBis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:#4d1b1b;
  color: white;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: GerontoBis;
  src: url(../public/geronto-bis/webfonts/GerontoBis.woff);
}
